.traitContainer {
  background: rgba(27, 197, 240, 0.212);
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.562));
  box-shadow: 0 0 0 1px rgba(30, 143, 255, 0.438);
}

.traitRow {
  margin: 3% 3%;
  display: flex;
  margin-bottom: 1%;
  background: rgba(30, 143, 255, 0.404);
  border-radius: 15px;
}

.traitLevel {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 3%;
  border: 1px solid dodgerblue;
  filter: drop-shadow(0 0 0.3rem black);
}

.traitAlt {
  visibility: hidden;
  position: fixed;
  display: flex;
  padding: 3% 3%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  z-index: 4;
  filter: drop-shadow(0 0 0.3rem black);
  background-color: rgb(51, 131, 211);
  max-width: 620px;
}

.traitHolder:hover .traitAlt {
  visibility: visible;
}

.traitImg,
span > img {
  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.61));
  margin: 2% 2%;
}

.titleDesc {
  font-weight: 700;
  color: greenyellow;
  font-size: 1rem;
}

.titleDesc,
.altDesc {
  text-align: left;
  margin: 0 5%;
  filter: drop-shadow(0 0 5px black);
}

.altDesc {
  margin: 2% 5%;
}

.specialAlt {
  display: flex;
  margin: 1% 0;
  flex-wrap: wrap;
}

.specialAlt1 {
  font-weight: 800;
  color: gold;
}

.specialAlt2 {
  font-weight: 600;
  margin-top: 4%;
  color: rgb(173, 173, 173);
  filter: drop-shadow(0 0 0.41rem black);
}

@media (min-width: 880px) {
  .traitLevel {
    width: 55px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(
      to right,
      rgb(19, 123, 243) 0%,
      rgba(1, 1, 1, 0) 100%
    );
  }

  .traitAlt {
    transform: translate(13%, -80%);
  }

  .traitContainer {
    max-width: 450px;
    width: 450px;
  }

  .traitImg,
  span > img {
    width: 50px;
    height: 50px;
  }

  .traits > div,
  .trait {
    margin: -3% 15%;
  }

  .traits,
  .traitHolder {
    max-width: 60px;
  }

  .traits {
    display: flex;
    flex-direction: row;
    margin: 2% 4%;
  }

  .traitHolder {
    margin: 2% 6%;
  }
}

@media (max-width: 880px) {
  .traitLevel {
    /* width: unset; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(
      to bottom,
      rgb(19, 123, 243) 0%,
      rgba(1, 1, 1, 0) 100%
    );
  }

  .traitRow {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .traitAlt {
    font-size: 0.8rem;
    transform: translate(-55%, -130%);
    /* max-width: 150px; */
  }

  .traits > div,
  .trait {
    margin: 1% 0;
    padding: 1% 0;
  }

  .traitContainer {
    margin: 5% 5%;
    padding: 2% 2%;
    /* max-width: 270px; */
    width: -webkit-fill-available;
    /* max-width: 250px; */
  }

  .traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 3%;
    /* padding: 1% 22%; */
    justify-content: center;
    /* max-width: 150px; */
  }

  .trait {
    max-width: 250px;
  }

  .traitImg {
    width: 45px;
  }

  span > img {
    width: 30px;
    height: 30px;
  }
  /* 
  .traitHolder {
    margin: 2% 6%;
  } */
}
