.heroCSingle {
  /* padding: 3px 3px; */
  /* width: 120px; */
  /* height: 180px; */
  filter: drop-shadow(0 0 0.2rem crimson);
}

.heroCSingle img {
  transform: scale(0.9);
  width: 80px;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0px 1px 18px 7px rgba(30, 143, 255, 0.63);
  transition: all 0.5s;
}

.heroCSingle a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.heroCSingle h4 {
  font-size: 1.1rem;
  text-align: center;
  /* height: 28%; */
  margin: 0.5rem;
  width: 120px;
}

.heroCSingle:hover,
.heroCSingle img:hover {
  transform: scale(1);
}
