.traitContainer {
  background: rgba(27, 197, 240, 0.212);
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.562));
  box-shadow: 0 0 0 1px rgba(30, 143, 255, 0.438);
}

.traitRow {
  margin: 2% 2%;
  display: flex;
  height: 60px;
  margin-bottom: 10px;
  background: rgba(30, 143, 255, 0.404);
  border-radius: 15px;
}

.traitLevel {
  width: 55px;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 3%;
  border: 1px solid dodgerblue;
  filter: drop-shadow(0 0 0.3rem black);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.traitHolder .traitAlt {
  visibility: hidden;
  position: fixed;
  display: flex;
  padding: 3% 3%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 0 0.3rem black);
  background-color: rgb(51, 131, 211);
}

.traitHolder:hover .traitAlt {
  visibility: visible;
}

.traits,
.traitHolder {
  max-width: 60px;
}

.traitHolder,
.traits > div,
.trait {
  margin: -3% 15%;
}

.traitImg,
span > img {
  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.61));
}

.titleDesc,
.altDesc {
  margin: 1% 1%;
  filter: drop-shadow(0 0 5px black);
}

@media (min-width: 880px) {
  .traitContainer {
    margin: 2% 2%;
    max-width: 450px;
    width: 450px;
  }

  .traitImg,
  span > img {
    width: 50px;
    height: 50px;
  }

  .traits {
    display: flex;
    flex-direction: row;
    margin: 2% 4%;
  }
}

@media (max-width: 880px) {
  .traitContainer {
    margin: 5% 5%;
    padding: 2% 2%;
    max-width: 270px;
    width: 250px;
  }

  .traits {
    display: flex;
    padding: 0% 6%;
  }

  .traitImg {
    width: 45px;
  }

  span > img {
    width: 30px;
    height: 30px;
  }
}
