/*-- Single Hero Info page----*/

@media (min-width: 960px) {
  .multiplyHero {
    display: flex;
  }
}

@media (max-width: 960px) {
  .multiplyHero {
    margin: 0% 25% 0% 25%;
  }
}

@media (max-width: 650px) {
  .multiplyHero {
    margin: 0% 5% 0% 5%;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .multiplyHero {
    margin: 0% 0% 0% 0%;
  }

  .singleHero {
    margin: 0% 0% 0% 0%;
  }
}

.singleHero {
  width: 100%;
}

@media (max-width: 450px) {
  .multiplyHero {
    display: unset;
  }
}

@media (min-width: 570px) and (max-width: 959px) {
  .multiplyHero {
    margin: 0 -1% 0 -1%;
  }
}

/*-- Single Hero Info page----*/
