.traitRow {
  margin: 1% 1%;
  padding: 1% 1%;
  max-width: 480px;
  height: 60px;
  /* width: 60px; */
  margin-bottom: 10px;
}

.traitRow span {
  float: left;
  max-width: 5px;
  margin: -1% 3%;
  padding: 26% 16%;
  max-height: 18%;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 5%;
}

.traitHolder .traitAlt {
  visibility: hidden;
  position: fixed;
  display: flex;
  left: 50%;
  top: 50%;
  padding: 3% 3%;
  width: fit-content;
  height: fit-content;
  background-color: rgb(51, 131, 211);
  text-align: center;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 0 0.3rem black);
}

.traitHolder:hover .traitAlt {
  visibility: visible;
}

.traitHolder {
  margin: 1% 4%;
}

@media (min-width: 880px) {
  .traitContainer {
    max-width: 500px;
    height: 480px;
    margin: 20px 10px;
  }

  .traitContainer img {
    width: 60px;
  }

  .traits {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 880px) {
  .traitContainer {
    max-width: 320px;
    height: 460px;
    margin: 1% 1%;
  }

  .traits {
    display: flex;
    flex-direction: column;
  }
  /* .traitContainer {
    display: flex;
    flex-direction: column;
  } */
  .traitContainer img {
    width: 45px;
  }
}
