.searchFilter {
  justify-content: space-evenly;
  text-align-last: center;
  max-width: 270px;
  padding: 0.3rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  margin: 0.1rem;
  justify-content: space-evenly;
  padding: 0.1rem;
}

.inputContainer span {
  background: rgb(51, 51, 61);
  width: 55px;
}

.searchInput {
  background: rgba(51, 51, 61, 0.616);
  color: white;
  outline: none;
  border: 1px solid rgb(70, 67, 67);
}

.searchResults {
  display: block;
  position: absolute;
  scroll-behavior: smooth;
  position: fixed;
  transition: all 0.5s;
  max-height: 250px;
  max-width: 210px;
  min-width: 210px;
  overflow-y: scroll;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(51, 51, 61, 0.616);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  white-space: normal;
  padding: 0.1rem;
  margin: 0.1rem;
  box-sizing: content-box;
}

.searchResults a {
  text-decoration: none;
  transition: all 0.5s;
  padding: 0.1rem;
  margin: 0.1rem;
}

.searchResult {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  color: white;
}

.searchResult:hover {
  background: dodgerblue;
}

.searchResultImg,
.searchResultImg img {
  max-width: 25px;
  max-height: 25px;
  background: rgba(66, 62, 62, 0.575);
}

.searchResultImg img {
  padding: 0.1rem;
  margin: 0.1rem;
}

.searchResultName {
  padding: 3px;
  background: rgba(66, 62, 62, 0.575);
  max-width: 150px;
  min-width: 168px;
  border-left: 2px solid rgba(253, 251, 251, 0.63);
}

/*queries*/

@media (min-width: 880px) {
  .searchFilter {
    margin-left: 15rem;
  }
}

@media (max-width: 880px) {
  .searchFilter {
    margin-right: 1rem;
  }
}
