.heroMainInfo {
  border-radius: 1.4rem;
  border: 1px solid #3479d9;
}

@media (min-width: 960px) {
  .heroMainInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    margin: 3% 4% 3% 4%;
    padding: 8px 8px 8px 8px;
    background: rgba(60, 27, 150, 0.223);
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  }
}

@media (max-width: 960px) {
  .heroMainInfo {
    display: block;
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    text-align: center;
    margin: 3% 3% 3% 3%;
    background: rgba(60, 27, 150, 0.223);
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  }
}
