.heroMainInfo,
.heroInfoCounter {
  display: flex;
  border: 1px solid #3479d9;
  place-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
  margin: 1% 1%;
  padding: 2% 2%;
  filter: drop-shadow(0 0 0.32rem black);
  background: rgba(60, 27, 150, 0.223);
  box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
}

.heroMainHolder {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  margin: 1% 1%;
  padding: 2% 2%;
  filter: drop-shadow(0 0 0.32rem black);
  background: dodgerblue;
  color: white;
  box-shadow: 0 0 35px rgba(7, 38, 56, 0.534);
}

.heroMainHolder:hover {
  background: white;
  color: dodgerblue;
}

.heroInfoCounter {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (min-width: 960px) {
  .heroMainInfo {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .heroInfoCounter {
    flex-direction: row;
  }
}

@media (max-width: 960px) {
  .heroMainInfo {
    flex-direction: column;
  }
  .heroInfoCounter {
    flex-direction: row;
  }
}
