.displayInfo {
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  border: 1px solid rgb(42 44 105);
  background-color: rgb(20 20 25 / 61%);
  margin: 1% 2% 1% 2%;
  padding: 1% 1% 1% 1%;
  border-radius: 25px;
  line-height: 1.1;
  width: 190px;
}
.displayInfoTitle {
  font-size: 1.5rem;
}

.displayInfoChild {
  padding: 1% 1% 2% 1%;
  margin: 0% 4% 4% 4%;
}

.displayInfoChild:nth-child(2n + 1) {
  border-bottom: 1px dotted dodgerblue;
  font-weight: 500;
  font-size: 1.4rem;
  flex: 4;
  opacity: 0.9;
}

.displayInfoChild:nth-child(2n) {
  color: rgba(135, 137, 192, 0.534);
  padding: 1% 8% 1% 8%;
  font-size: 1.2rem;
  flex: 1;
  /* border-bottom: 1px solid white; */
}

/*medium phone*/
@media (max-width: 375px) {
  .displayInfo {
    padding: 6% 2% 6% 2%;
  }
  .displayInfo:nth-child(2n) {
    padding: 2% 10% 2% 10%;
  }
}
