.displayInfo {
  display: grid;
  border-radius: 25px;
  background-color: rgb(20 20 25 / 61%);
  box-shadow: 0px 1px 4px 2px rgba(30, 143, 255, 0.1555);
  text-shadow: 0 0 12px #009cff;
  margin: 1% 2%;
  padding: 1% 1%;
  line-height: 2.1;
  font-size: 1.5rem;
  place-content: center;
}

.basicInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10% 10%;
  min-height: fit-content;
  min-width: fit-content;
}

.basicInfo {
  margin: 2% 2%;
  padding: 10% 10%;
}

.infoType {
  font-size: 18px;
}

.infoValue {
  font-size: 11px;
}

.displayInfoHero img,
.displayInfo img,
.displayInfoCouSyn img {
  border-radius: 25px;
  box-shadow: 0px 1px 18px 7px rgba(30, 143, 255, 0.548);
}

.displayInfoChild {
  justify-content: space-evenly;
}

.displayInfoChild:nth-child(2n + 1) {
  border-bottom: 1px solid dodgerblue;
  font-weight: 500;
  opacity: 0.9;
  min-width: 180px;
}

.displayInfoChild:nth-child(2n) {
  color: rgba(135, 137, 192, 0.8534);
  font-size: 1.2rem;
}

@media (min-width: 1100px) {
  .displayInfoChild:nth-child(2n + 1) {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .displayInfo {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    width: 100%;
  }

  .displayInfoChild:nth-child(2n) {
    display: flex;
    flex-wrap: wrap;
  }
  .displayInfoChild:nth-child(2n + 1) {
    font-size: 1.38rem;
    padding: 0.5rem;
  }
}

@media (max-width: 375px) {
  .displayInfo {
    padding: 6% 2%;
  }
  .displayInfo:nth-child(2n) {
    padding: 2% 10%;
  }
}

.displayInfoHero {
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  background-color: rgb(20 20 25 / 61%);
  margin: 1% 2%;
  padding: 1% 1%;
  border-radius: 25px;
  line-height: 1.1;
}

.displayInfoSyn {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 175, 59, 0.596);
  border: 1px solid rgba(135, 137, 192, 0.4534);
}

.displayInfoCou {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 24, 24, 0.596);
  border: 1px solid rgba(135, 137, 192, 0.4534);
}

.displayInfoSynCouMap {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(135, 137, 192, 0.4534);
}

.displayInfoSyn,
.displayInfoSynCouMap,
.displayInfoCou {
  margin: 2% 3%;
  width: 100%;
  align-items: center;
  border-radius: 25px;
}
