.displayInfo {
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  border-radius: 25px;
  background-color: rgb(20 20 25 / 61%);
  box-shadow: 0px 1px 4px 2px rgba(30, 143, 255, 0.1555);
  margin: 1% 2% 1% 2%;
  padding: 1% 1% 1% 1%;
  line-height: 1.1;
  min-width: fit-content;
  min-height: fit-content;
}

.displayInfoHero img,
.displayInfo img,
.displayInfoCouSyn img {
  border-radius: 25px;
  box-shadow: 0px 1px 18px 7px rgba(30, 143, 255, 0.548);
}

.displayInfoTitle {
  font-size: 1.5rem;
}

.displayInfoChild {
  justify-content: space-evenly;
}

.displayInfoChild:nth-child(2n + 1) {
  border-bottom: 1px solid dodgerblue;

  font-weight: 500;
  font-size: 1.4rem;

  opacity: 0.9;
}

@media (max-width: 1024px) {
  .displayInfoChild:nth-child(2n) {
    display: flex;
    flex-wrap: wrap;
  }
}

.displayInfoChild:nth-child(2n) {
  color: rgba(135, 137, 192, 0.8534);
  padding: 1% 8% 1% 8%;
  font-size: 1.2rem;
  flex: 1;
  justify-content: space-evenly;
}

/*medium phone*/
@media (max-width: 375px) {
  .displayInfo {
    padding: 6% 2% 6% 2%;
  }
  .displayInfo:nth-child(2n) {
    padding: 2% 10% 2% 10%;
  }
}

.displayInfoHero {
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  background-color: rgb(20 20 25 / 61%);
  margin: 1% 2% 1% 2%;
  padding: 1% 1% 1% 1%;
  border-radius: 25px;
  line-height: 1.1;
}

.displayInfoSyn {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 175, 59, 0.596);
  border-radius: 25px;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  width: 100%;
  align-items: center;
  margin: 0 2% 0 2%;
}

.displayInfoCou {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 24, 24, 0.596);
  border-radius: 25px;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  width: 100%;
  align-items: center;
  margin: 0 2% 0 2%;
}

.displayInfoSynCouMap {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  width: 100%;
  align-items: center;
  margin: 0 2% 0 2%;
}

.displayInfoChildSkill {
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.displayInfoChildSkillTitle {
  font-size: 1.2rem;
  border-bottom: 1px solid dodgerblue;
  margin: 1% 0 1% 0;

  line-height: 1.4;
  border-radius: 25px;
}

.displayInfoChildSkillImgContainer {
  /* height: 110px; */
  /* margin: 5% 5% 5% 5%; */
}

.displayInfoChildSkillImg {
  position: relative;
  width: 115px;
  height: 125px;
  background-image: url("/images/general/mapHexagon.png");
}

.displayInfoChildSkillVal {
  margin: 0;
  padding: 5% 5% 5% 5%;
  border-radius: 25px;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  background-color: rgba(51, 131, 211, 0.288);

  text-align: left;
}

@media (min-width: 1024px) {
  .displayInfoChildSkillVal {
    height: 180px;
  }
}
@media (max-width: 1024px) {
  .displayInfoChildSkillVal {
    height: 100%;
  }
}

.displayInfoHeroSkill {
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid rgba(135, 137, 192, 0.4534);
  margin: 0 2% 0 2%;
}
