.mainContent h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5% 5%;
  font-weight: 600;
  margin: 6px 6px;
  font-size: 1.8rem;
}

@media (max-width: 880px) {
  .mainContent h2 {
    font-size: 1.5rem;
  }
}

.container,
.heroContainer {
  color: #fff;
  border: 3px solid #191919;
  background: rgba(13, 75, 126, 0.658);
  box-shadow: 0 0 35px rgb(0, 0, 0);
}

.heroContainer {
  min-height: 590px;
}
