.mainContent h2 {
  text-align: center;
  font-weight: 600;
}

@media (max-width: 880px) {
  .mainContent h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 880px) {
  .mainContent h2 {
    font-size: 1.9rem;
  }
}

.container,
.heroContainer {
  margin-top: 1rem;
  color: #fff;
  border: 3px solid #191919;
  background: rgba(13, 75, 126, 0.658);
  box-shadow: 0 0 35px rgb(0, 0, 0);
  min-height: 580px;
}

.heroContainer {
  min-height: 990px;
}
