.mainContent {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.mainContent h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  margin: 15px 15px 15px 15px;
  border: 3px solid #191919;
  border-radius: 15px;
  color: #fff;
  background: rgba(60, 27, 150, 0.223);
  box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  width: auto;
}

.container h2 {
  padding-top: 1%;
  font-weight: 600;
  margin: 6px 6px 6px 6px;
  /* padding-left: 35px; */
  /* text-align: left; */
}
