@media (min-width: 860px) {
  .heroInfo {
    max-width: 650px;
  }
}
@media (max-width: 860px) {
  .heroInfo {
    width: unset;
    flex-wrap: wrap;
  }
  .heroInfoCounter {
    width: unset;
    flex-wrap: wrap;
  }
}

.heroInfo,
.heroInfoCounter {
  place-content: center;
  display: flex;
  margin: 1% 3%;
}
