@media (max-width: 560px) {
  .heroRightInfo {
    width: unset;
  }
}

@media (max-width: 1024px) {
  .heroRightInfo {
    flex-wrap: wrap;
  }
}

.heroRightInfo {
  display: flex;
  flex-direction: row;
  /* flex-wrap: no-wrap; */
  flex: 1;
  order: 2;
  margin: 1% 3% 1% 3%;
  /* transform: scale(0.9); */
  width: auto;
  /* background: rgba(35, 35, 35, 0.223);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.35); */
}
