.heroSections {
  font-size: 2.2rem;
  border-radius: 25px;
}

#clickableDiv {
  cursor: pointer;
}

@media (min-width: 960px) {
  .backHero {
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    padding: 1% 0;
    margin: 1% 1%;
    border: 1px solid rgba(255, 255, 255, 0.842);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #3479d9;
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.35);
  }

  .backHero a {
    color: rgba(255, 255, 255, 0.842);
    filter: drop-shadow(0 0 0.4rem black);
  }
}

@media (max-width: 960px) {
  .heroSections {
    font-size: 1.2rem;
  }

  .backHero {
    display: none;
  }
}

.backHero:hover {
  filter: drop-shadow(0 0 0.85rem crimson);
}

.backHero a {
  text-decoration: none;
}
