/*-- General --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./Shared/images/general/main.jpg") center top #000;
  background-color: lightsteelblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", Courier,
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #ffffff 0%, #5f5b5b 78%);
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #15e7ba 0%, #15e7ba 78%);
}

/*-- General --*/

/*-- Navigation part ----*/

@media (max-width: 550px) {
  .navBarResponsive {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    height: 15%;
    display: grid;
    margin: 0;
    justify-content: center;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  border-bottom: 1px solid #3479d9;
  background-color: rgb(7, 45, 92);
  padding: 10px 15px;
  background: rgb(29, 29, 29);
  background-image: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0.165703781512605) 36%,
    rgba(0, 0, 0, 1) 100%,
    rgba(9, 21, 121, 0.8491771708683473) 100%
  );
  margin-left: 1.1%;
  margin-right: 1.1%;
}

@media (max-width: 329px) {
  .scrollTop {
    bottom: 70px;
  }
}
@media (min-width: 330px) {
  .scrollTop {
    bottom: 60px;
  }
}

.scrollTop {
  display: none;
  position: fixed;
  right: 40px;
  z-index: 99;
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: #3479d9;
  color: white;
  cursor: pointer;
  padding: 12px 15px 12px 15px;
  border-radius: 50px;
}

.scrollTop:hover {
  background-color: #555;
}

@media (max-width: 350px) {
  nav {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 950px) {
  nav {
    margin-left: 1.6%;
    margin-right: 1.6%;
  }
}

nav h2 a {
  color: #fff;
  text-decoration: none;
}

.navMenu li {
  display: inline-block;
  list-style: none;
  line-height: 1.8;
}

.navMenu a {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: black;
  color: #fff;
  width: 64px;
}

.navMenu a:hover {
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.activate {
  background: #3479d9;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}
/*-- Navigation part ----*/

/*-- App page --*/

.app {
  border: 3px solid #222;
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
  margin: 2% 8% 2% 8%;
}

/*min laptop*/
@media (min-width: 1024px) {
  .app {
    padding: 1%;
  }
}

/*min tab*/
@media (max-width: 550px) {
  .app {
    margin-top: 28%;
  }
}

/*large phone*/
@media (max-width: 425px) {
  .app {
    margin-top: 35%;
  }
}

/*medium phone*/
@media (max-width: 375px) {
  .app {
    padding: 1%;
    margin-top: 38%;
  }
}

/*medium phone*/
@media (max-width: 320px) {
  .app {
    margin-top: 45%;
  }
}
/*-- App page ----*/

/*-- Heroes page ----*/

.heroContainer {
  display: flex;
  justify-content: space-between;
}

.heroGrid {
  text-align: center;
  background: #161616;
  box-shadow: 0 0 15px rgba(75, 72, 72, 0.288);

  padding: 12px 12px 12px 12px;

  transform: scale(0.9);
}

.heroGrid:hover {
  background-color: rgba(22, 4, 4, 0.164);
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .heroGridRowColumon {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .heroGridRowColumon {
    margin: 5% -10% 15% 1%;
  }
}

@media (max-width: 580px) {
  .heroGridRowColumon {
    margin: 5% 10% 15% 7%;
  }
}

@media (max-width: 500px) {
  .heroGridRowColumon {
    margin: 5% 4% 15% 7%;
  }
}

@media (max-width: 390px) {
  .heroGridRowColumon {
    margin: 5% 2% 15% 4%;
  }
}

@media (max-width: 335px) {
  .heroGridRowColumon {
    margin: 5% 2% 15% 3%;
  }
}

@media (max-width: 330px) {
  .heroGridRowColumon {
    margin: 5% 1% 15% 0%;
  }
}

@media (min-width: 960px) {
  .heroGridRowColumon {
    width: 75%;
    margin: 5px 5px 5px 5px;
  }

  #heroPanelC {
    display: blcok;
  }
}

.heroGridRowColumon {
  padding: 2px 2px 2px 2px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: top;
  line-height: 1;
}

.heroPersonal {
  font-size: 14px;
  text-align: center;
}

.heroPersonalText {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 147px;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.heroPersonalImg {
  justify-content: center;
  padding-bottom: 12px;
}

.heroPersonalImg div {
  font-size: 11px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  padding-bottom: 15px;
}

.filterHero select {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  justify-content: space-evenly;
  list-style: none;
}

/*SIDEHERO*/
/*WEB*/

.heroPanelFixed {
  position: absolute;
  width: 450px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.heroPanelContainer {
  display: none;
  position: relative;
  height: 500px;
  width: 800px;
  margin-right: -10%;
}

.heroPanelMoveable {
  overflow: visible;
  position: absolute;
}

.heroPanelImage {
  overflow: hidden;
  height: 320px;
  width: 100%;
  position: relative;
  background: transparent top no-repeat;
}

.heroPanelImage::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(30, 92, 153, 0.6) 25%,
    rgba(30, 92, 153, 0.4) 35%,
    rgba(30, 92, 153, 0.2) 50%,
    rgba(41, 102, 163, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(25%, rgba(30, 92, 153, 0.6)),
    color-stop(35%, rgba(30, 92, 153, 0.4)),
    color-stop(50%, rgba(30, 92, 153, 0.2)),
    to(rgba(41, 102, 163, 0))
  );
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.heroPanelImage img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.heroPanelCard {
  width: 450px;
  border: 1px solid rgba(153, 204, 255, 0.2);
  display: block;
  position: relative;
  text-align: center;
  background-color: #0a1133;
}

.heroPanelInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.heroPanelInfo h1 {
  width: 100%;
  margin: 12px 12px 12px 12px;
  text-shadow: 0 0 12px #011933;
  font-weight: 650;
  margin-bottom: 15px;
  margin-top: 15px;
}

.heroPanelBottom {
  width: 100%;
  margin-top: 35px;
  display: block;
  position: relative;
  text-align: center;
}

.heroTable {
  position: absolute;
  width: 100%;
  bottom: 100%;
}

.heroTable table {
  border: 1px solid #3479d9;
  text-align: left;
  width: 80%;
  height: 90%;
  margin: 0 10%;
  border-collapse: collapse;
  font-size: 16px;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
  background-color: rgba(15, 17, 51, 0.9);
}

.heroTable th {
  width: 35%;
  border-right: 1px solid #3479d9;
  background-color: rgba(24, 44, 145, 0.486);
  padding-left: 4px;
  border-bottom: 1px solid #3479d9;
}
.heroTable td {
  height: 40px;
  width: 70%;
  opacity: 0.8;
  border-bottom: 1px solid #3479d9;
  padding-left: 10px;
}

.heroLink {
  margin-top: 40px;
  margin-bottom: 20px;
}

.heroLink a:hover {
  color: white;
  background-color: #427fbb60;
}

.heroLink a {
  padding: 4px 4px 4px 4px;
  font-size: x-large;
  color: #3479d9;
  font-weight: 350;
  text-decoration: none;
  border: 0.11px solid #3479d9;
  padding-right: 10%;
  padding-left: 10%;
}

/*Mobile*/
@media (min-width: 960px) {
  .heroPanelContainer {
    display: block;
    height: auto;
  }
}

/*Web*/
@media (max-width: 960px) {
  .heroPanelContainer {
    display: none;
  }
}

/*SIDEHERO*/

/*-- Heroes page----*/

/*-- Single Hero Info page----*/

.heroTitle {
  font-size: 13px;
  padding: 2px 2px 2px 2px;
}

.heroName {
  padding: 5px 5px 5px 5px;
  font-size: 26px;
}

.heroTitleImg {
  padding: 5px 5px 5px 5px;
  display: block;
}

@media (min-width: 960px) {
  .heroBaseStats div {
    width: max-content;
  }
}
@media (max-width: 960px) {
  .heroBaseStats {
    flex-direction: column;
  }
}

.heroBaseStats {
  align-items: center;
  padding: 5px 5px 5px 5px;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(35, 35, 35, 0.223);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.heroTableSingle {
  border: 1px solid #3479d9;
  text-align: left;
  height: 70%;
  opacity: 0.8;
  border-collapse: collapse;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
  background-color: rgba(15, 17, 51, 0.9);
}

.heroTableSingle th {
  border-right: 1px solid #3479d9;
  background-color: rgba(24, 44, 145, 0.486);
  padding-left: 4px;
  border-bottom: 1px solid #3479d9;
}

.heroTableSingle td {
  height: 30px;
  width: 70%;
  opacity: 0.8;
  border-bottom: 1px solid #3479d9;
  padding-left: 10px;
}

.heroBaseStats table {
  margin: 8% 8% 8% 8%;
}

@media (min-width: 960px) {
  .heroLeftInfo {
    font-size: 16px;
    height: 140%;
    transform: scale(0.9);
  }

  .heroSynCou {
    font-size: large;
  }
}

@media (min-width: 1350px) {
  .heroSynCou {
    margin-right: 1%;
    margin-left: 1%;
  }
}

.heroSynCouTitle {
  margin: 1% 1% 1% 1%;
}

.heroSyn {
  width: 100%;
  height: 50%;
  background-color: rgba(10, 175, 59, 0.596);
}

.heroCou {
  width: 100%;
  height: 50%;
  background-color: rgba(173, 24, 24, 0.596);
}

@media screen and (max-width: 530px) {
  .heroTableCouSyn tr,
  .heroTableCouSyn td,
  .heroTableCouSyn th {
    display: block;
  }
}

@media (min-width: 530px) {
  .heroTableCS {
    display: flex;
  }

  .heroTableCouSyn {
    width: 100%;
    height: 50%;
  }

  .heroTableCouSyn th {
    width: 30%;
    height: 50px;
  }
}

.heroTableCouSyn {
  border: 1px solid #3479d9;
  border-collapse: collapse;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
}

.heroTableCouSyn td {
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
}

.heroTableCouSyn th {
  border-right: 1px solid #3479d9;
  border-bottom: 1px solid #3479d9;
  border-top: 1px solid #3479d9;
}

.heroTableCouSyn td {
  border-right: 1px solid #3479d9;
  border-bottom: 1px solid #3479d9;
}

.heroSynergyCounter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 3px 3px 3px;
  margin: 2px 2px 2px 2px;
}

.heroCSingle {
  padding: 3px 3px 3px 3px;
  width: 120px;
}

.heroCSingle a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.heroCSingle h4 {
  font-size: 16px;
  text-align: center;
  height: 30%;
}

.heroCSingle:hover {
  transform: scale(1);
}

.mapSynCou {
  font-size: large;
}

@media (min-width: 960px) {
  .multiplyHero {
    display: flex;
  }
}

@media (max-width: 960px) {
  .multiplyHero {
    margin: 0% 25% 0% 25%;
  }
}

@media (max-width: 650px) {
  .multiplyHero {
    margin: 0% 5% 0% 5%;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .multiplyHero {
    margin: 0% 0% 0% 0%;
  }

  .singleHero {
    margin: 0% 0% 0% 0%;
  }
}

.singleHero {
  width: 100%;
}

@media (max-width: 450px) {
  .multiplyHero {
    display: unset;
  }
}

@media (min-width: 570px) and (max-width: 959px) {
  .multiplyHero {
    margin: 0 -1% 0 -1%;
  }
}

/*-- Single Hero Info page----*/
