/*-- General --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./Shared/images/general/main.jpg") center top #000;
  background-color: lightsteelblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", Courier,
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #ffffff 0%, #5f5b5b 78%);
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #15e7ba 0%, #15e7ba 78%);
}

.app {
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

@media (min-width: 880px) {
  .app {
    margin: 2% 8%;
    margin-top: 8rem;
    margin-bottom: 80px;
  }
}
@media (max-width: 880px) {
  .app {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}

/*-- General --*/
