/*-- General --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/general/main.jpg") center top #000;
  background-color: lightsteelblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", Courier,
    monospace;
}

.container {
  margin: 15px 15px 15px 15px;
  border: solid 3px #191919;
  color: #fff;
  background: rgba(60, 27, 150, 0.223);
  box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  width: auto;
}

.mainContent {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.mainContent h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container h2 {
  padding-top: 1%;
  font-weight: 600;
  margin: 6px 6px 6px 6px;
  /* padding-left: 35px; */
  /* text-align: left; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #ffffff 0%, #5f5b5b 78%);
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #15e7ba 0%, #15e7ba 78%);
  /* border-radius: 10px; */
}
/*-- General --*/

/*-- Navigation part ----*/
nav {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  border-bottom: 1px solid #3479d9;
  background-color: rgb(7, 45, 92);
  padding: 10px 15px;
  background: rgb(29, 29, 29);
  background-image: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0.165703781512605) 36%,
    rgba(0, 0, 0, 1) 100%,
    rgba(9, 21, 121, 0.8491771708683473) 100%
  );
  margin-left: 1.1%;
  margin-right: 1.1%;
}

@media (max-width: 350px) {
  nav {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 950px) {
  nav {
    margin-left: 1.6%;
    margin-right: 1.6%;
  }
}

nav h2 a {
  color: #fff;
  text-decoration: none;
}

.navMenu li {
  display: inline-block;
  list-style: none;
  line-height: 1.8;
}

.navMenu a {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: black;
  color: #fff;
  width: 64px;
}

.navMenu a:hover {
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.activate {
  background: #3479d9;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}
/*-- Navigation part ----*/

/*-- App page --*/

.app {
  border: 3px solid #222;
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
  padding: 20px;
  max-width: 1450px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
/*-- App page ----*/

/*-- Home page----*/

.mapHexIconimg {
  width: 115px;
  height: 115px;
}

/*-- Home page----*/

/*-- Heroes page ----*/

.heroContainer {
  display: flex;
  justify-content: space-between;
}

.heroGrid {
  text-align: center;
  background: #161616;
  box-shadow: 0 0 15px rgba(75, 72, 72, 0.288);
  /* display: flex;
  flex-direction: row; */
  padding: 12px 12px 12px 12px;
  /* width: 150px; */
  transform: scale(0.9);
}

.heroGrid:hover {
  background-color: rgba(22, 4, 4, 0.164);
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .heroGridRowColumon {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .heroGridRowColumon div {
    /* width: 100%; */
  }
}

@media (max-width: 530px) {
  .heroGridRowColumon {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 960px) {
  .heroGridRowColumon {
    width: 75%;
    margin: 5px 5px 5px 5px;
  }

  #heroPanelC {
    display: blcok;
  }
}

.heroGridRowColumon {
  padding: 2px 2px 2px 2px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: top;
  line-height: 1;
}

.heroPersonal {
  font-size: 14px;
  text-align: center;
}

.heroPersonalText {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 147px;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.heroPersonalImg {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  padding-bottom: 12px;
}

.heroPersonalImg div {
  font-size: 11px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  padding-bottom: 15px;
}

.filterHero select {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  justify-content: space-evenly;
  list-style: none;
}

/*SIDEHERO*/
/*WEB*/

.heroPanelFixed {
  position: absolute;
  width: 450px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* margin-right: 5%;
  margin-left: 5%; */
}

.heroPanelContainer {
  display: none;
  position: relative;
  height: 500px;
  width: 800px;
  margin-right: -10%;
  /* box-shadow: 0 0 35px rgba(0, 0, 0, 0.35); */
  /* transform: scale(0.9); */
  /* margin-left: 10px; */
}

.heroPanelMoveable {
  overflow: visible;
  position: absolute;
}

.heroPanelImage {
  overflow: hidden;
  height: 320px;
  width: 100%;
  position: relative;
  background: transparent top no-repeat;
}

.heroPanelImage::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(30, 92, 153, 0.6) 25%,
    rgba(30, 92, 153, 0.4) 35%,
    rgba(30, 92, 153, 0.2) 50%,
    rgba(41, 102, 163, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(25%, rgba(30, 92, 153, 0.6)),
    color-stop(35%, rgba(30, 92, 153, 0.4)),
    color-stop(50%, rgba(30, 92, 153, 0.2)),
    to(rgba(41, 102, 163, 0))
  );
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.heroPanelImage img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.heroPanelCard {
  width: 450px;
  border: 1px solid rgba(153, 204, 255, 0.2);
  display: block;
  position: relative;
  text-align: center;
  background-color: #0a1133;
}

.heroPanelInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.heroPanelInfo h1 {
  width: 100%;
  margin: 12px 12px 12px 12px;
  text-shadow: 0 0 12px #011933;
  font-weight: 650;
  margin-bottom: 15px;
  margin-top: 15px;
}

.heroPanelBottom {
  width: 100%;
  margin-top: 35px;
  display: block;
  position: relative;
  text-align: center;
}

.heroTable {
  position: absolute;
  width: 100%;
  bottom: 100%;
}

.heroTable table {
  border: 1px solid #3479d9;
  text-align: left;
  width: 80%;
  height: 90%;
  margin: 0 10%;
  border-collapse: collapse;
  font-size: 16px;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
  background-color: rgba(15, 17, 51, 0.9);
}

.heroTable th {
  width: 35%;
  border-right: 1px solid #3479d9;
  background-color: rgba(24, 44, 145, 0.486);
  padding-left: 4px;
  border-bottom: 1px solid #3479d9;
}
.heroTable td {
  height: 40px;
  width: 70%;
  opacity: 0.8;
  border-bottom: 1px solid #3479d9;
  padding-left: 10px;
}

.heroLink {
  margin-top: 40px;
  margin-bottom: 20px;
}

.heroLink a:hover {
  color: white;
  background-color: #427fbb60;
}

.heroLink a {
  padding: 4px 4px 4px 4px;
  font-size: x-large;
  color: #3479d9;
  font-weight: 350;
  text-decoration: none;
  border: 0.11px solid #3479d9;
  padding-right: 10%;
  padding-left: 10%;
}

/*Mobile*/
@media (min-width: 960px) {
  .heroPanelContainer {
    display: block;
    height: auto;
  }
}

/*Web*/
@media (max-width: 960px) {
  .heroPanelContainer {
    display: none;
  }
}

/*SIDEHERO*/

/*-- Heroes page----*/

/*-- Single Hero Info page----*/

@media (min-width: 960px) {
  .backHero {
    position: relative;
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    height: 20%;
    text-align: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid #3479d9;
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.35);
  }
}

@media (max-width: 960px) {
  .backHero {
    position: fixed;
    z-index: 1;
    background-color: rgba(13, 96, 99, 0.925);
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    bottom: 0;
    width: 160%;
    text-align: center;
    margin-left: -35%;
  }
}
/* 
@media (max-width: 550px) {
  .backHero {
    background-color: rgba(47, 61, 194, 0.753);
    position: fixed;
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin: -130% 0% 20% 42%;
    border: 1px solid #3479d9;
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.35);
  }
} */

.backHero a {
  text-decoration: none;
  color: #3479d9;
}

.heroRightInfo {
  transform: scale(0.9);
  width: 150px;
  background: rgba(35, 35, 35, 0.223);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.heroTitle {
  font-size: 13px;
  padding: 2px 2px 2px 2px;
}

.heroName {
  padding: 5px 5px 5px 5px;
  font-size: 26px;
  /* width: 140px;
  height: 180px; */
}

.heroTitleImg {
  padding: 5px 5px 5px 5px;
  display: block;
}

.heroBaseStats {
  padding: 5px 5px 5px 5px;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(35, 35, 35, 0.223);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.heroTableSingle {
  border: 1px solid #3479d9;
  text-align: left;
  height: 70%;
  opacity: 0.8;
  border-collapse: collapse;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
  background-color: rgba(15, 17, 51, 0.9);
}

.heroTableSingle th {
  /* width: 35%; */
  border-right: 1px solid #3479d9;
  background-color: rgba(24, 44, 145, 0.486);
  padding-left: 4px;
  border-bottom: 1px solid #3479d9;
}

.heroTableSingle td {
  height: 30px;
  width: 70%;
  opacity: 0.8;
  border-bottom: 1px solid #3479d9;
  padding-left: 10px;
}

.heroBaseStats table {
  margin: 8% 8% 8% 8%;
}

@media (min-width: 960px) {
  .heroMainInfo {
    display: flex;
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    text-align: center;
    margin: 3% 4% 3% 4%;
    border: 1px solid #3479d93a;
    background: rgba(60, 27, 150, 0.223);
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  }

  .heroLeftInfo {
    transform: scale(0.9);
    background: rgba(35, 35, 35, 0.223);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
    font-size: 16px;
  }

  .heroSynCou {
    font-size: large;
    transform: scale(0.98);
  }
}

@media (max-width: 960px) {
  .heroMainInfo {
    display: block;
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    text-align: center;
    margin: 3% 4% 3% 4%;
    border: 1px solid #3479d93a;
    background: rgba(60, 27, 150, 0.223);
    box-shadow: 0 0 35px rgba(19, 49, 180, 0.205);
  }
  .heroSynCou {
    /* width: 10%; */
  }
}

.heroSynCou table {
  width: 100%;
}

.heroSynCouTitle {
  margin: 1% 1% 1% 1%;
}

.heroSyn {
  width: 50%;
  height: 50%;
  background-color: rgba(10, 175, 59, 0.596);
}

.heroCou {
  width: 50%;
  height: 50%;
  background-color: rgba(173, 24, 24, 0.596);
}

.heroTableCouSyn {
  border: 1px solid #3479d9;
  border-collapse: collapse;
  background: linear-gradient(
    0deg,
    rgba(24, 117, 211, 0.2) 0,
    rgba(0, 77, 153, 0) 50%,
    rgba(2, 56, 110, 0)
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 77, 153, 0.2)),
    color-stop(50%, rgba(0, 77, 153, 0)),
    to(rgba(0, 77, 153, 0))
  );
}

.heroTableCouSyn th {
  width: 40%;
  border-right: 1px solid #3479d9;
  border-bottom: 1px solid #3479d9;
  border-top: 1px solid #3479d9;
}

.heroTableCouSyn td {
  border-right: 1px solid #3479d9;
  border-bottom: 1px solid #3479d9;
}

.heroSynergyCounter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 3px 3px 3px;
  margin: 2px 2px 2px 2px;
}

.heroSynergyCounter img {
  margin-right: 5%;
  margin-left: 5%;
  width: 110px;
  height: 110px;
  transform: scale(0.85);
}

.heroCSingle {
  padding: 3px 3px 3px 3px;
  width: 120px;
  transform: scale(0.75);
  font-size: medium;
}

.heroCSingle:hover {
  transform: scale(1);
}

.mapSynCou {
  font-size: large;
}

/* .heroQoute {
  text-align: left;
  padding: 12px 12px 12px 12px;
  margin: 10% 10% 2% 10%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
} */

@media (max-width: 1080px) {
  .basicInfo {
    transform: scale(0.7);
  }
}
@media (min-width: 1080px) {
  .basicInfo {
    transform: scale(0.9);
  }
}

.basicInfo {
  width: 70%;
  height: 100%;
  /* width: 150px; */
  background: rgba(35, 35, 35, 0.223);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}
.multiplyHero {
  display: flex;
}

/*-- Single Hero Info page----*/

/* -- Map page --*/

.mapContainer {
  text-align: center;
  padding-bottom: 4%;
}

@media (max-width: 960px) {
  .mapHexCollage {
    /* margin: 12% 15% 10% 15%; */
    transform: scale(0.9);
  }
}

@media (min-width: 960px) {
  .mapHexCollage {
    margin: 2% 5% 0% 5%;
  }
}

.mapHexCollage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  padding-bottom: 4%;
  padding-top: 4%;
  border: 3px solid #222;
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.mapHexUnitUnActive {
  transform: scale(0.95);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.mapHexIcon {
  width: 115px;
  height: 115px;
  position: relative;
  margin-bottom: -105%;
  overflow: hidden;
  transform: scale(0.92) rotate(-30deg) skewX(30deg) scaleY(0.866);
  -webkit-transform: scale(0.92) rotate(-30deg) skewX(30deg) scaleY(0.866);
  -moz-transform: scale(0.92) rotate(-30deg) skewX(30deg) scaleY(0.866);
}

.mapHexIcon img {
  transform: scale(0.92) scaleY(1.155) skewX(-30deg) rotate(30deg);
  -webkit-transform: scale(0.92) scaleY(1.155) skewX(-30deg) rotate(30deg);
  -moz-transform: scale(0.92) scaleY(1.155) skewX(-30deg) rotate(30deg);
}

.mapHexaBG {
  background-image: url("/images/general/mapHexagon.png");
  height: 119px;
  transform: scale(1.04);
  position: relative;
}

.mapHexaBG .mapHexaBGName {
  visibility: hidden;
  width: 100%;
  background-color: #3479d9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.8s;
}

.mapHexaBG:hover .mapHexaBGName {
  visibility: visible;
  opacity: 1;
}

.mapHexaBG:hover,
.mapHexaBGActive {
  background-image: url("/images/general/mapHexagonActive.png");
}

.bottomMapInfo {
  display: none;
  text-align: center;
  padding: 8px 8px 8px 8px;
  margin: 2% 5% 0% 5%;
  font-size: 14px;
  border: 3px solid #222;
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.mapBottomContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.mapInfo {
  width: 35%;
}

.objTitle {
  font-size: 125%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: -4%;
}

.mapInfo h1 {
  font-size: 285%;
}

.mapObj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  /* width: 35%; */
}

.mapObj h2 {
  width: 15%;
}

.mapObjMain {
  text-align: left;
  margin: 3% 3% 3% 3%;
  overflow: hidden;
  border: 1px solid #225999;
  background-color: #0b1133;
  width: 55%;
  /* height: 85%; */
}

.mapObjMain h5 {
  font-weight: 500;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 21px;
}

.mapObjMain p {
  font-size: 105%;
  margin: 3% 3% 5% 5%;
  height: 30%;
}

.mapObjMain img {
  width: 100%;
  height: 100%;
  border-top: 1px dashed #225999;
  margin-bottom: -5%;
}

@media (min-width: 1020px) {
  .mapObjMainInfo {
    height: 140px;
    margin-bottom: -2%;
  }
  .mapObjMainImg {
    height: 84px;
  }
}

@media (max-width: 1020px) {
  .mapInfo h1 {
    width: 80%;
    margin: 2% 0% 2% 10%;
    font-size: 28px;
  }

  .objTitle h2 {
    width: 140px;
    margin: 2% 0% 2% 10%;
    font-size: 14px;
  }

  .objTitle {
    margin-right: 50%;
  }

  .mapObj {
    flex-wrap: wrap;
  }

  .mapObjMain {
    /* transform: scale(0.8); */
  }

  .mapObjMainInfo {
    transform: scale(0.8);
    /* height: 300px; */
    margin: 0% 4% 5% 4%;
    font-size: 16px;
  }

  .mapObjMainImg {
    /* height: 60px; */
    /* margin-top: 10%; */
  }
}

.mapWider img {
  width: 80%;
  height: 80%;
  border: 3px solid #225999;
  background: #141414;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
}

.mapWider img:hover {
  width: 100%;
  height: 100%;
}

/* -- Map page --*/
