/* HEADER */
nav {
  align-items: center;
  display: flex;
  vertical-align: top;
  border-bottom: 1px solid #3479d9;
  background-color: rgb(13, 75, 126);
  margin-left: -10rem;
  justify-content: center;
}

nav h2 a {
  color: #fff;
  text-decoration: none;
}

.titleLogo {
  text-align: -webkit-center;
  text-shadow: 0 0.1rem 0.1rem black;
  filter: drop-shadow(0 0 0.5rem black);
}

.titleLogo h2:hover {
  text-shadow: 0 0 42px black;
}

.searchContainer {
  cursor: pointer;
}

.searchContainer:hover {
  filter: drop-shadow(0 0 0.8rem dodgerblue);
}

@media (min-width: 550px) {
  .titleLogo {
    flex-direction: row;
    /* margin-left: -10%; */
  }

  .titleLogo h2 {
    margin-left: -20%;
    font-size: 2.6rem;
    padding: 0.9rem 0.9rem;
    /* margin-left: 10rem; */
  }

  .searchContainer {
    padding: 1.9rem 1.9rem;

    /* font-size: 2.6rem; */
    /* padding: 0.9rem 0.9rem; */
    margin-left: 18rem;
  }
}

@media (max-width: 550px) {
  .titleLogo {
    font-size: 1rem;
    padding: 0.05rem 0.05rem;
    flex-direction: column;
  }

  .titleLogo h2 a {
    /* content: "Hots"; */
  }
}

/* HEADER */

/* SCROLL BUTTON */

@media (min-width: 375px) {
  .scrollTop {
    font-size: 3rem;
    right: 1rem;
    bottom: 3.2rem;
  }
}

@media (max-width: 375px) {
  .scrollTop {
    font-size: 1.5rem;
    right: 0;
    bottom: 3.2rem;
  }
}

.scrollTop {
  display: none;
  position: fixed;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3479d9;
  color: white;
  cursor: pointer;
  padding: 0.9rem;
}

.scrollTop:hover {
  background-color: #555;
}

.scrollTop > div {
  filter: drop-shadow(0 0 0.1rem black);
}

/* SCROLL BUTTON */

/* FOOTER */
.navBarResponsive {
  display: flex;
  text-align-last: center;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}

.navMenu {
  justify-self: center;
}

.navMenu li {
  display: inline-block;
  list-style: none;
  line-height: 1.8;
}

.navMenu a {
  display: inline-block;
  margin: 0.3rem;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  background-color: black;
  color: #fff;
}

.navMenu a:hover {
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.active {
  background: #3479d9;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}

.footerResponsive {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #3479d9;
  background-color: rgb(7, 45, 92);
  background-image: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0.165703781512605) 36%,
    rgba(0, 0, 0, 1) 100%,
    rgba(9, 21, 121, 0.8491771708683473) 100%
  );
}

@media screen and (max-width: 580px) {
  .navBarResponsive {
    flex-direction: column;
  }
}
/* FOOTER */
