/* HEADER */
nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  vertical-align: top;
  border-bottom: 1px solid #3479d9;
  background-color: rgb(7, 45, 92);
  /* padding: 10px 15px; */
  /* background: rgb(29, 29, 29); */
  background-image: linear-gradient(
    360deg,
    rgba(29, 29, 29, 0.165703781512605) 36%,
    rgba(0, 0, 0, 1) 100%,
    rgba(9, 21, 121, 0.8491771708683473) 100%
  );
}

nav h2 a {
  color: #fff;
  text-decoration: none;
}

.titleLogo {
  font-size: 1.6rem;
  padding: 10px 10px;
  text-align-last: center;
  text-align: -webkit-center;
  text-shadow: 0 0 22px dodgerblue;
  filter: drop-shadow(0 0 0.5rem black);
}

.titleLogo:hover {
  text-shadow: 0 0 42px black;
  filter: drop-shadow(0 0 0.8rem dodgerblue);
}

@media (max-width: 550px) {
  .titleLogo {
    font-size: 1rem;
  }
}

/* HEADER */

/* SCROLL BUTTON */

@media (min-width: 375px) {
  .scrollTop {
    font-size: 3rem;
    /* bottom: 70px; */
  }
}

@media (max-width: 375px) {
  .scrollTop {
    font-size: 1.5rem;
    /* bottom: 70px; */
  }
}

.scrollTop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3479d9;
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  /* border-radius: 50px; */
}

.scrollTop:hover {
  background-color: #555;
}
/* SCROLL BUTTON */

/* FOOTER */
.navBarResponsive {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}

.navMenu {
  justify-self: center;
}

.navMenu li {
  display: inline-block;
  list-style: none;
  line-height: 1.8;
}

.navMenu a {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: black;
  color: #fff;
}

.navMenu a:hover {
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.activate {
  background: #3479d9;
  background-image: linear-gradient(to bottom, #3479d9 0%, #10448f 78%);
}

@media (max-width: 425px) {
  .titleLogo {
    /* padding: ; */
  }
}

.footerResponsive {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #3479d9;
  background-color: rgb(7, 45, 92);
  /* background: rgb(29, 29, 29); */
  background-image: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0.165703781512605) 36%,
    rgba(0, 0, 0, 1) 100%,
    rgba(9, 21, 121, 0.8491771708683473) 100%
  );
}

.addButton {
  position: absolute;
  top: 1px;
  left: 1px;
}

/* FOOTER */
